# Python
__pycache__/
*.py[cod]
*.pkl
*.parquet
*.csv
*.jsonl

# Data directories
data/raw/
data/processed/
data/external/

# Environment
.env
venv/
.venv/

# Logs
monitor/logs/

# IDE files
.idea/
.vscode/

ml/runs/*
ml/saved_models/*
*.pth